* {
    padding: 0;
    margin: 0;
}



nav {
    height: 90px;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
    background: rgba(0, 0, 0, 5);
    width: 100%;
}

.navbar-brand {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.navbar-nav {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#page1 {
    background-image: url(./iimg/main-bg.jpg);
    height: 960px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}






h1 {
    position: absolute;
    height: 73.12px;
    left: 9.22%;
    right: 10.47%;
    top: calc(50% - 73.12px/2 - 130.06px);
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h3 {
    position: absolute;
    left: 33.84%;
    right: 29.66%;
    top: 46.23%;
    bottom: 50.89%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

button {
    position: absolute;
    left: 40.83%;
    right: 41.09%;
    top: 55.07%;
    bottom: 38.68%;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    text-decoration: none;


}

.btn {
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1A1917;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: black;
}
