* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #9C835F;
}

nav {
    display: flex;
    align-items: center;
    margin-top: 40px;

}

.info p {
    display: flex;
    align-items: center;
    margin-left: 130%;
    font-family: 'Open Sans', sans-serif;
    color: #BD0000;
    font-style: normal;
    font-weight: 700;
    font-size: 110px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

nav h2 {
    color: #F9B23D;

}

.Player-name {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    font-weight: bold;
}

p {
    width: 100px;
}

section {
    display: flex;
    align-items: center;
}

.player {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 382px;

}

.Player1-image {
    display: flex;
    justify-content: space-evenly;
    width: 40px;
    margin: 20px;
}

.Restart {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-right: 250px;
}
